[Desktop Entry]
Type=Service
Name=Open with VS Code:
Icon=visual-studio-code
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;application/x-desktop;
Actions=openWithCode;
X-KDE-Priority=TopLevel
X-KDE-MaxNumberOfUrls=20

[Desktop Action openWithCode]
Name=Open with VS Code:
Icon=visual-studio-code
Exec=open-with-code-wrapper %F
TryExec=code
